[Unit]
Description=Invoke Lambda to trigger Ansible on RTSP EC2 boot/restart
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/rtsp_ansible_trigger.sh

[Install]
WantedBy=multi-user.target